useDynLib(BayesBD)
importFrom(Rcpp, evalCpp)
import(shiny)
importFrom("mritc", "measureMRI")
importFrom("png", "readPNG")
importFrom("jpeg", "readJPEG")
importFrom("graphics", "image", "lines", "par", "plot", "polygon")
importFrom("stats", "rbinom", "rnorm", "runif", "integrate", "pnorm", "sd")
importFrom("utils", "read.table", "read.csv", "write.csv", "write.table")
importFrom("grDevices", "gray")
exportPattern("^[[:alpha:]]+")
