useDynLib(BayesBD, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(shiny)
importFrom("mritc", "measureMRI")
importFrom("png", "readPNG")
importFrom("jpeg", "readJPEG")
importFrom("graphics", "image", "lines", "par", "plot", "polygon")
importFrom("stats", "rbinom", "rnorm", "runif", "integrate", "pnorm", "sd")
importFrom("utils", "read.table", "read.csv", "write.csv", "write.table")
importFrom("grDevices", "gray")
export("BayesBDshiny", "dsmError", "ellipse", "fitBinImage", "fitContImage", "hausdorffError", "lebesgueError", 
"par2obs", "parnormobs", "plotBD", "rectToPolar", "triangle2", "BayesBDbinary",
 "BayesBDnormal", "unisliceL", "eigenfun", "besselIs")
