useDynLib(BayesBD)
importFrom(Rcpp, evalCpp)
import(RcppArmadillo)
import(shiny)
import(plotrix)
importFrom("graphics", "image", "lines", "par", "plot", "polygon")
importFrom("stats", "rbinom", "rnorm", "runif")
importFrom("utils", "read.table")
exportPattern("^[[:alpha:]]+")
